In [46]:
import pandas as pd
import glob
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import f_regression
import statsmodels.api as sm

In [2]:
csv_files = glob.glob("./*.csv")

In [3]:
csv_files

['.\\AUD_USD_H1.csv',
 '.\\EUR_GBP_H1.csv',
 '.\\EUR_USD_H1.csv',
 '.\\GBP_USD_H1.csv',
 '.\\USD_CAD_H1.csv',
 '.\\USD_CHF_H1.csv',
 '.\\USD_JPY_H1.csv']

In [4]:
dataframes = {} # Crear dict vacío
keys_list = []  # Crear lista vacía

for file in csv_files:
    key = file.split(".\\")[1]
    key = key.replace("_H1.csv", "")  # Eliminar ".csv" del final de la clave
    dataframes[key] = pd.read_csv(file)
    keys_list.append(key)  # Agregar key a la lista

print(keys_list)

['AUD_USD', 'EUR_GBP', 'EUR_USD', 'GBP_USD', 'USD_CAD', 'USD_CHF', 'USD_JPY']

In [5]:
for key in dataframes:
    print(key, dataframes[key].shape)

AUD_USD (50000, 9)
EUR_GBP (50000, 9)
EUR_USD (50000, 9)
GBP_USD (50000, 9)
USD_CAD (50000, 9)
USD_CHF (50000, 9)
USD_JPY (50000, 9)

In [6]:
dataframes

{'AUD_USD':                    time  open_bid  high_bid  low_bid  close_bid  open_ask  \
 0      2015-01-27 08 PM   0.79375   0.79524  0.79347    0.79383   0.79393
 1      2015-01-27 09 PM   0.79382   0.79382  0.79265    0.79344   0.79405
 2      2015-01-27 10 PM   0.79338   0.79364  0.79243    0.79250   0.79385
 3      2015-01-27 11 PM   0.79256   0.79304  0.79184    0.79197   0.79290
 4            2015-01-28   0.79197   0.80024  0.78991    0.79930   0.79216
 ...                 ...       ...       ...      ...        ...       ...
 49995  2023-02-09 09 PM   0.69321   0.69356  0.69317    0.69354   0.69334
 49996  2023-02-09 10 PM   0.69339   0.69377  0.69299    0.69348   0.69385
 49997  2023-02-09 11 PM   0.69346   0.69423  0.69339    0.69378   0.69393
 49998        2023-02-10   0.69379   0.69423  0.69299    0.69419   0.69394
 49999  2023-02-10 01 AM   0.69419   0.69452  0.69388    0.69445   0.69432

        high_ask  low_ask  close_ask
 0       0.79549  0.79366    0.79405
 1       0.79405  0.79287    0.79402
 2       0.79413  0.79283    0.79283
 3       0.79333  0.79204    0.79219
 4       0.80055  0.79017    0.79952
 ...         ...      ...        ...
 49995   0.69375  0.69329    0.69370
 49996   0.69509  0.69344    0.69393
 49997   0.69435  0.69362    0.69394
 49998   0.69437  0.69314    0.69431
 49999   0.69466  0.69404    0.69461

 [50000 rows x 9 columns],
 'EUR_GBP':                    time  open_bid  high_bid  low_bid  close_bid  open_ask  \
 0      2015-01-28 02 AM   0.74758   0.74773  0.74711    0.74730   0.74773
 1      2015-01-28 03 AM   0.74725   0.74775  0.74717    0.74765   0.74745
 2      2015-01-28 04 AM   0.74764   0.74772  0.74721    0.74742   0.74781
 3      2015-01-28 05 AM   0.74743   0.74892  0.74730    0.74856   0.74760
 4      2015-01-28 06 AM   0.74852   0.74958  0.74822    0.74878   0.74873
 ...                 ...       ...       ...      ...        ...       ...
 49995  2023-02-09 09 PM   0.88578   0.88616  0.88569    0.88605   0.88591
 49996  2023-02-09 10 PM   0.88509   0.88602  0.88491    0.88560   0.88659
 49997  2023-02-09 11 PM   0.88562   0.88636  0.88562    0.88632   0.88641
 49998        2023-02-10   0.88628   0.88632  0.88569    0.88588   0.88647
 49999  2023-02-10 01 AM   0.88587   0.88617  0.88585    0.88611   0.88605

        high_ask  low_ask  close_ask
 0       0.74788  0.74728    0.74748
 1       0.74797  0.74736    0.74780
 2       0.74789  0.74739    0.74762
 3       0.74913  0.74748    0.74878
 4       0.74981  0.74841    0.74898
 ...         ...      ...        ...
 49995   0.88630  0.88583    0.88626
 49996   0.88677  0.88612    0.88641
 49997   0.88658  0.88611    0.88649
 49998   0.88649  0.88586    0.88604
 49999   0.88634  0.88605    0.88628

 [50000 rows x 9 columns],
 'EUR_USD':                    time  open_bid  high_bid  low_bid  close_bid  open_ask  \
 0      2015-01-28 02 AM   1.13343   1.13398  1.13299    1.13338   1.13358
 1      2015-01-28 03 AM   1.13335   1.13429  1.13335    1.13397   1.13352
 2      2015-01-28 04 AM   1.13399   1.13413  1.13317    1.13362   1.13414
 3      2015-01-28 05 AM   1.13358   1.13632  1.13329    1.13547   1.13373
 4      2015-01-28 06 AM   1.13544   1.13815  1.13524    1.13693   1.13561
 ...                 ...       ...       ...      ...        ...       ...
 49995  2023-02-09 09 PM   1.07328   1.07380  1.07323    1.07380   1.07342
 49996  2023-02-09 10 PM   1.07345   1.07408  1.07345    1.07391   1.07421
 49997  2023-02-09 11 PM   1.07392   1.07412  1.07373    1.07384   1.07434
 49998        2023-02-10   1.07385   1.07386  1.07248    1.07341   1.07402
 49999  2023-02-10 01 AM   1.07340   1.07349  1.07304    1.07339   1.07355

        high_ask  low_ask  close_ask
 0       1.13413  1.13313    1.13355
 1       1.13446  1.13351    1.13412
 2       1.13429  1.13337    1.13376
 3       1.13652  1.13346    1.13566
 4       1.13837  1.13543    1.13719
 ...         ...      ...        ...
 49995   1.07399  1.07337    1.07399
 49996   1.07474  1.07386    1.07435
 49997   1.07450  1.07388    1.07400
 49998   1.07404  1.07264    1.07354
 49999   1.07364  1.07319    1.07354

 [50000 rows x 9 columns],
 'GBP_USD':                    time  open_bid  high_bid  low_bid  close_bid  open_ask  \
 0      2015-01-28 05 AM   1.51644   1.51716  1.51560    1.51667   1.51671
 1      2015-01-28 06 AM   1.51671   1.51872  1.51650    1.51818   1.51700
 2      2015-01-28 07 AM   1.51812   1.51876  1.51587    1.51596   1.51839
 3      2015-01-28 08 AM   1.51600   1.51926  1.51573    1.51853   1.51623
 4      2015-01-28 09 AM   1.51859   1.51969  1.51757    1.51918   1.51881
 ...                 ...       ...       ...      ...        ...       ...
 49995  2023-02-09 09 PM   1.21158   1.21184  1.21111    1.21172   1.21177
 49996  2023-02-09 10 PM   1.21147   1.21201  1.21089    1.21169   1.21254
 49997  2023-02-09 11 PM   1.21173   1.21202  1.21136    1.21144   1.21285
 49998        2023-02-10   1.21145   1.21159  1.21059    1.21152   1.21173
 49999  2023-02-10 01 AM   1.21152   1.21154  1.21099    1.21124   1.21170

        high_ask  low_ask  close_ask
 0       1.51742  1.51585    1.51692
 1       1.51897  1.51675    1.51844
 2       1.51905  1.51610    1.51616
 3       1.51956  1.51593    1.51875
 4       1.51991  1.51789    1.51939
 ...         ...      ...        ...
 49995   1.21202  1.21127    1.21195
 49996   1.21409  1.21213    1.21277
 49997   1.21285  1.21158    1.21170
 49998   1.21185  1.21077    1.21172
 49999   1.21172  1.21117    1.21147

 [50000 rows x 9 columns],
 'USD_CAD':                    time  open_bid  high_bid  low_bid  close_bid  open_ask  \
 0      2015-01-29 04 AM   1.25236   1.25275  1.25222    1.25264   1.25258
 1      2015-01-29 05 AM   1.25267   1.25325  1.25265    1.25279   1.25292
 2      2015-01-29 06 AM   1.25281   1.25402  1.25281    1.25372   1.25302
 3      2015-01-29 07 AM   1.25375   1.25387  1.25118    1.25188   1.25398
 4      2015-01-29 08 AM   1.25192   1.25529  1.25191    1.25307   1.25216
 ...                 ...       ...       ...      ...        ...       ...
 49995  2023-02-09 09 PM   1.34602   1.34612  1.34531    1.34541   1.34620
 49996  2023-02-09 10 PM   1.34470   1.34524  1.34407    1.34480   1.34545
 49997  2023-02-09 11 PM   1.34482   1.34549  1.34464    1.34479   1.34529
 49998        2023-02-10   1.34477   1.34583  1.34474    1.34487   1.34496
 49999  2023-02-10 01 AM   1.34488   1.34521  1.34485    1.34514   1.34505

        high_ask  low_ask  close_ask
 0       1.25298  1.25247    1.25289
 1       1.25349  1.25287    1.25303
 2       1.25427  1.25302    1.25399
 3       1.25413  1.25140    1.25211
 4       1.25555  1.25213    1.25329
 ...         ...      ...        ...
 49995   1.34630  1.34549    1.34564
 49996   1.34606  1.34515    1.34529
 49997   1.34569  1.34484    1.34498
 49998   1.34600  1.34492    1.34506
 49999   1.34543  1.34504    1.34535

 [50000 rows x 9 columns],
 'USD_CHF':                    time  open_bid  high_bid  low_bid  close_bid  open_ask  \
 0      2015-01-28 06 AM   0.90455   0.90502  0.90226    0.90426   0.90561
 1      2015-01-28 07 AM   0.90435   0.90882  0.90381    0.90715   0.90523
 2      2015-01-28 08 AM   0.90724   0.90731  0.90199    0.90291   0.90785
 3      2015-01-28 09 AM   0.90299   0.90339  0.89963    0.90128   0.90349
 4      2015-01-28 10 AM   0.90129   0.90158  0.89869    0.89971   0.90168
 ...                 ...       ...       ...      ...        ...       ...
 49995  2023-02-09 09 PM   0.92268   0.92269  0.92204    0.92206   0.92284
 49996  2023-02-09 10 PM   0.92169   0.92198  0.92108    0.92185   0.92319
 49997  2023-02-09 11 PM   0.92184   0.92229  0.92184    0.92206   0.92255
 49998        2023-02-10   0.92205   0.92311  0.92205    0.92237   0.92225
 49999  2023-02-10 01 AM   0.92236   0.92268  0.92233    0.92235   0.92256

        high_ask  low_ask  close_ask
 0       0.90599  0.90309    0.90548
 1       0.90945  0.90494    0.90781
 2       0.90794  0.90270    0.90347
 3       0.90524  0.90022    0.90178
 4       0.90215  0.89920    0.90022
 ...         ...      ...        ...
 49995   0.92284  0.92228    0.92240
 49996   0.92330  0.92249    0.92254
 49997   0.92261  0.92208    0.92224
 49998   0.92325  0.92224    0.92256
 49999   0.92287  0.92253    0.92254

 [50000 rows x 9 columns],
 'USD_JPY':                    time  open_bid  high_bid  low_bid  close_bid  open_ask  \
 0      2015-01-28 07 PM   117.668   117.973  117.442    117.680   117.818
 1      2015-01-28 08 PM   117.679   117.835  117.220    117.452   117.698
 2      2015-01-28 09 PM   117.447   117.582  117.364    117.502   117.470
 3      2015-01-28 10 PM   117.507   117.624  117.367    117.469   117.565
 4      2015-01-28 11 PM   117.469   117.603  117.365    117.583   117.497
 ...                 ...       ...       ...      ...        ...       ...
 49995  2023-02-09 09 PM   131.613   131.628  131.511    131.512   131.627
 49996  2023-02-09 10 PM   131.549   131.564  131.328    131.408   131.621
 49997  2023-02-09 11 PM   131.420   131.535  131.365    131.510   131.519
 49998        2023-02-10   131.509   131.763  131.509    131.558   131.530
 49999  2023-02-10 01 AM   131.557   131.667  131.557    131.630   131.573

        high_ask  low_ask  close_ask
 0       117.998  117.463    117.705
 1       117.854  117.283    117.474
 2       117.605  117.386    117.570
 3       117.666  117.402    117.498
 4       117.622  117.398    117.597
 ...         ...      ...        ...
 49995   131.644  131.530    131.534
 49996   131.648  131.413    131.507
 49997   131.555  131.395    131.529
 49998   131.782  131.529    131.576
 49999   131.685  131.573    131.649

 [50000 rows x 9 columns]}

In [7]:
concatenated_df = pd.concat(dataframes.values(), axis=1)

In [8]:
opens = concatenated_df['open_bid']
opens.columns = keys_list

In [9]:
opens

       AUD_USD  EUR_GBP  EUR_USD  GBP_USD  USD_CAD  USD_CHF  USD_JPY
0      0.79375  0.74758  1.13343  1.51644  1.25236  0.90455  117.668
1      0.79382  0.74725  1.13335  1.51671  1.25267  0.90435  117.679
2      0.79338  0.74764  1.13399  1.51812  1.25281  0.90724  117.447
3      0.79256  0.74743  1.13358  1.51600  1.25375  0.90299  117.507
4      0.79197  0.74852  1.13544  1.51859  1.25192  0.90129  117.469
...        ...      ...      ...      ...      ...      ...      ...
49995  0.69321  0.88578  1.07328  1.21158  1.34602  0.92268  131.613
49996  0.69339  0.88509  1.07345  1.21147  1.34470  0.92169  131.549
49997  0.69346  0.88562  1.07392  1.21173  1.34482  0.92184  131.420
49998  0.69379  0.88628  1.07385  1.21145  1.34477  0.92205  131.509
49999  0.69419  0.88587  1.07340  1.21152  1.34488  0.92236  131.557

[50000 rows x 7 columns]

In [10]:
returns = np.log(opens/opens.shift(1))

# Descartar la primera fila (que contiene valores NaN debido al desplazamiento)
returns = returns.iloc[1:]

# Mostrar los retornos
returns

        AUD_USD   EUR_GBP   EUR_USD   GBP_USD   USD_CAD   USD_CHF   USD_JPY
1      0.000088 -0.000442 -0.000071  0.000178  0.000248 -0.000221  0.000093
2     -0.000554  0.000522  0.000565  0.000929  0.000112  0.003191 -0.001973
3     -0.001034 -0.000281 -0.000362 -0.001397  0.000750 -0.004696  0.000511
4     -0.000745  0.001457  0.001639  0.001707 -0.001461 -0.001884 -0.000323
5      0.009138  0.000401  0.001294  0.000375  0.000926 -0.001699  0.000987
...         ...       ...       ...       ...       ...       ...       ...
49995 -0.000980 -0.000248 -0.000373 -0.000140  0.000713  0.000434  0.000350
49996  0.000260 -0.000779  0.000158 -0.000091 -0.000981 -0.001074 -0.000486
49997  0.000101  0.000599  0.000438  0.000215  0.000089  0.000163 -0.000981
49998  0.000476  0.000745 -0.000065 -0.000231 -0.000037  0.000228  0.000677
49999  0.000576 -0.000463 -0.000419  0.000058  0.000082  0.000336  0.000365

[49999 rows x 7 columns]

### Escalamos los datos

In [11]:
# Crear objeto Scaler
scaler = StandardScaler()

# Escalar los datos
scaled_returns = scaler.fit_transform(returns)

# Crear un nuevo DataFrame a partir de los datos escalados
scaled_df = pd.DataFrame(scaled_returns, columns=returns.columns, index=returns.index)

# Mostrar el DataFrame escalado
scaled_df

        AUD_USD   EUR_GBP   EUR_USD   GBP_USD   USD_CAD   USD_CHF   USD_JPY
1      0.063948 -0.399456 -0.064449  0.140980  0.241184 -0.207460  0.081051
2     -0.388305  0.465416  0.524544  0.721189  0.108136  2.987716 -1.754864
3     -0.725866 -0.255267 -0.334346 -1.075911  0.733723 -4.397908  0.451681
4     -0.522206  1.305321  1.521405  1.321940 -1.433044 -1.765180 -0.289275
5      6.432706  0.356719  1.200852  0.293332  0.906337 -1.591547  0.874727
...         ...       ...       ...       ...       ...       ...       ...
49995 -0.688127 -0.226011 -0.344546 -0.104902  0.697886  0.405729  0.308524
49996  0.184603 -0.702701  0.147886 -0.066662 -0.963040 -1.005771 -0.434020
49997  0.072930  0.534416  0.406960  0.169219  0.086064  0.152038 -0.873448
49998  0.336710  0.665797 -0.059440 -0.175034 -0.037838  0.212958  0.599353
49999  0.407519 -0.418484 -0.387688  0.048097  0.078772  0.314452  0.322165

[49999 rows x 7 columns]

In [24]:
y = scaled_df.iloc[:, 0:1]
y

        AUD_USD
1      0.063948
2     -0.388305
3     -0.725866
4     -0.522206
5      6.432706
...         ...
49995 -0.688127
49996  0.184603
49997  0.072930
49998  0.336710
49999  0.407519

[49999 rows x 1 columns]

In [25]:
X = scaled_df.iloc[:, 1:]
X

        EUR_GBP   EUR_USD   GBP_USD   USD_CAD   USD_CHF   USD_JPY
1     -0.399456 -0.064449  0.140980  0.241184 -0.207460  0.081051
2      0.465416  0.524544  0.721189  0.108136  2.987716 -1.754864
3     -0.255267 -0.334346 -1.075911  0.733723 -4.397908  0.451681
4      1.305321  1.521405  1.321940 -1.433044 -1.765180 -0.289275
5      0.356719  1.200852  0.293332  0.906337 -1.591547  0.874727
...         ...       ...       ...       ...       ...       ...
49995 -0.226011 -0.344546 -0.104902  0.697886  0.405729  0.308524
49996 -0.702701  0.147886 -0.066662 -0.963040 -1.005771 -0.434020
49997  0.534416  0.406960  0.169219  0.086064  0.152038 -0.873448
49998  0.665797 -0.059440 -0.175034 -0.037838  0.212958  0.599353
49999 -0.418484 -0.387688  0.048097  0.078772  0.314452  0.322165

[49999 rows x 6 columns]

In [39]:
# Crear objeto LinearRegression
reg = LinearRegression()

# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Entrenar el modelo con los datos de entrenamiento
reg.fit(X_train, y_train)

# Evaluar el modelo en los datos de prueba
y_pred = reg.predict(X_test)

# Calcular el error cuadrático medio
mse = mean_squared_error(y_test, y_pred)

print('Error cuadrático medio:', mse, "\n")

# Mostrar los coeficientes del modelo
print("Los coeficientes son:",reg.coef_, "\n")
print("el intercepto es:",reg.intercept_)

Error cuadrático medio: 0.9820157151618112

Los coeficientes son: [[-0.0338215   0.08624399  0.1052874  -0.0729262  -0.04969446 -0.06087178]]

el intercepto es: [0.0017098]

In [49]:
# Obtener los coeficientes y los p-values
coef = reg.coef_
pvals = f_regression(X_train, y_train)[1]

# Imprimir los coeficientes y los p-values
for i in range(len(coef)):
    print('Variable: {} Coeficiente: {}   p-value: {}'.format(X.columns[i], coef[i], pvals[i]))

Variable: const Coeficiente: [-0.0338215   0.08624399  0.1052874  -0.0729262  -0.04969446 -0.06087178]   p-value: 4.519661194346833e-07

C:\Users\miste\OneDrive\Desktop\DH\limpieza_datos\DH\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [47]:
X = sm.add_constant(X)
    
model = sm.OLS(y, X).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                AUD_USD   R-squared:                       0.041
Model:                            OLS   Adj. R-squared:                  0.041
Method:                 Least Squares   F-statistic:                     359.6
Date:                Wed, 08 Mar 2023   Prob (F-statistic):               0.00
Time:                        21:36:21   Log-Likelihood:                -69889.
No. Observations:               49999   AIC:                         1.398e+05
Df Residuals:                   49992   BIC:                         1.399e+05
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       2.575e-19      0.004   5.88e-17      1.000      -0.009       0.009
EUR_GBP       -0.0329      0.005     -7.218      0.000      -0.042      -0.024
EUR_USD        0.0859      0.005     18.387      0.000       0.077       0.095
GBP_USD        0.1042      0.005     23.017      0.000       0.095       0.113
USD_CAD       -0.0708      0.004    -16.012      0.000      -0.079      -0.062
USD_CHF       -0.0478      0.004    -10.737      0.000      -0.057      -0.039
USD_JPY       -0.0595      0.004    -13.351      0.000      -0.068      -0.051
==============================================================================
Omnibus:                    13394.076   Durbin-Watson:                   2.072
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1006059.447
Skew:                          -0.314   Prob(JB):                         0.00
Kurtosis:                      24.966   Cond. No.                         1.49
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

##### El modelo de regresión lineal ordinaria (OLS) utilizado tiene una R-cuadrada ajustada de 0.041, lo que indica que el modelo explica solo el 4.1% de la variación en la variable dependiente AUD_USD. Los coeficientes de las variables predictoras EUR_GBP, EUR_USD, GBP_USD, USD_CAD, USD_CHF y USD_JPY son significativamente diferentes de cero con valores de p menores que 0.05. Los coeficientes positivos de EUR_USD y GBP_USD indican que un aumento en estas variables se relaciona con un aumento en la variable dependiente AUD_USD, mientras que los coeficientes negativos de EUR_GBP, USD_CAD, USD_CHF y USD_JPY indican que un aumento en estas variables se relaciona con una disminución en AUD_USD. El modelo es significativo según la prueba F con un valor de p cercano a cero. La prueba Omnibus muestra que hay una desviación significativa de la normalidad en los residuos del modelo, pero la prueba Durbin-Watson indica que no hay autocorrelación en los residuos.